@import '~antd/dist/antd.css';
@import '~normalize.css';

/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #666;
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

input,
textarea,
button,
select,
a {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: middle;
}

/* 全局样式 */
body,
textarea,
select,
input,
button {
  font-size: 14px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

span:hover.link {
  text-decoration: underline;
  cursor: pointer;
}

/* 加载中样式 */
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.site-layout-background {
  background: #fff;
  text-align: center;
  padding: 0;
  height: 60px;
  display: flex;
}

.content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 130px);
}

/* 修改 antd 默认样式 */
.ant-layout-sider {
  background: #125894;
}

.ant-menu.ant-menu-dark {
  background: #125894;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #0b5390;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #0b5390;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  background-color: #014c8c;
  color: #fff;
}

.trigger:hover {
  color: #eee;
}